@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Squada+One&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

* {
    font-family: 'Poppins';
    margin: 0%;
    padding: 0%;
    font-size: 12px;
    box-sizing: border-box; 
    -webkit-user-select: none;  /* Safari */
    -moz-user-select: none;     /* Firefox */
    -ms-user-select: none;      /* Internet Explorer/Edge */
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:root {
  --background: #0c0c0c;
  --primary: hsl(305, 80%, 48%);

}

::-webkit-scrollbar {
    width: 5px; 
  }
  
  ::-webkit-scrollbar-track {
    background: var(--background);
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 10px;
  }



input, textarea, button, a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a:focus, a:visited, a:active {
    outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #346FAA inset !important; 
  -webkit-text-fill-color: #ffffff !important;
}
a {
    text-decoration: none;
    color: rgb(251, 255, 244);
    font-weight: 500;
}
body, html {
    background-color:  var(--background);
    color: rgb(255, 255, 255);
 

}

html {
    scroll-behavior: smooth;
   
  }
  section {
    scroll-margin-top: 110px; 
  }
#hero-section {
    background-color: var(--background);
    height: 100%;
    width: 100%;
    overflow: hidden;

          
}
#hero-section:hover::before{
    transform: scale(1.2);
}



nav {
    align-items: center;
}
.menu-icon {
    background-color: transparent;
    border: none;
    margin-right: 2em;
    line-height: 0;
}
.menu-icon svg {
    color: white;
}
a .logo {
    font-family: 'Paytone one';
    font-size: 25px;
    margin: 1.2em 1.2em;
    margin-top: .9em;
}

nav ul {
    position: fixed;
    z-index: 999;
    top: 70px;
    right: 0;
    height: 100vh;
    list-style: none;
    border-radius: 4px;
    background: var(--background); 
    width: 100%;
    margin: auto;
    text-align: start;
    color: var(--primary);
    padding: 3em;
    padding-top: 0;
    transform: translateY(-140%);
    opacity: 0;
    transition: transform 0.2s ease-in-out, opacity .4s ease-in-out;
}
nav ul li  {
        cursor: pointer; 
        margin: 3em 0;
        padding-bottom: 1.4em;

        }
nav ul li:nth-of-type(1) {
            margin-top: 0;
            border: none;
            display: none;
            
        }
nav ul li a {
            text-decoration: none;
            font-size: 11px;
            font-weight: 600;
            color: white;
            transition: all .2s ease-in-out;
}
nav ul li a:hover {
                font-weight: 700;
                color: var(--primary);
            }

nav ul li a:active,
nav ul li a:focus,
section:target ~ nav ul li a[href="#Hero"], 
section:target ~ nav ul li a[href="#About"],
section:target ~ nav ul li a[href="#Projects"],
#Hero:target ~ nav ul li a[href="#Hero"], 
#About:target ~ nav ul li a[href="#About"],
#Projects:target ~ nav ul li a[href="#Projects"] {
    color: var(--primary); 


}   
.contact-list {
    background-color: var(--primary);
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 120px;
    border-radius: 16px;
} 

       
.open {
    transform: translateX(0%);
    opacity: 100%;
}


.button {
    display: flex;
    justify-content: center;
}
.close-btn {
    margin: 3em auto;
}
button {
    margin: 2em auto;
    background-color: var(--background);
    border-radius: 11px;
    border: none;
    color: var(--text-color);
    cursor: pointer;
    transition: .2s ease-in-out;
}

button:hover {
    opacity: 80%;
}


.navbar nav ul li {
    transition: .2s ease-in-out;
}
svg {
    cursor: pointer;
    color: white;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4em;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
    backdrop-filter: blur(99px);
    background: var(--background); 
}

.available-for-work {
    display: flex;
    justify-content: end;
    z-index: 5;
    margin-bottom: -2em;
    margin-top: 4em;
    position: sticky;
}
.available-for-work p {
    background-color: white;
    color: var(--primary);
    position: absolute;
    border-radius: 40px;
    padding: .7em;
    display: flex;
    gap: 5px;
    align-items: center;
    margin-bottom: -2em;
    font-weight: 600;
}
.available-for-work p:hover {
    background-color: var(--primary);
    color: white;
    cursor: pointer;
    span {
        background-color: white; 
      }
}

h1 {
    font-family: 'Poppins';
    font-size: 27px;
    line-height: 1.3em;
    font-weight: 900;
}

h3 {
    font-size: 18px;
    margin-top: .4em;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

h5 {
    color: grey;
    font-weight: normal;
}
.qualities {
    display: flex;
    gap: 10px;
    margin-top: 2em;
}
.quality {
    border: 2px solid white;
    border-radius: 14px;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 100px;
}
.card005 {
    display: flex;
    align-items: center;
    background-color: rgba(85, 85, 85, 0.104);
    margin-bottom: 1em;
    margin-top: 1em;
    padding: .8em;
    border-radius: 10px;
}
.card005:hover {
    background-color: rgba(85, 85, 85, 0.204); 
}
.card005 .icon svg {
    color: white;

}
.card005 .details {
    margin-left: 1em;
    border-left: 1px solid grey;
    height: auto;
    padding-left: 1em;
}
.card005 .details p:nth-of-type(2) {
    color: grey;
    font-size: 11px
}

.social-icons {
    display: flex;
    align-items: center;
    gap: 2em;
    margin-top: 15px;
}
.icon {
    width: 30px;
    transition: all .2s ease-in-out;
    cursor: pointer;
    margin-top: .35em;
}
.icon:hover {
    transform: scale(1.04);
    filter: drop-shadow(0 1px 1px rgba(223, 62, 255, 0.8));

}
.typing-container {
    font-size: 10px;
    margin-top: 1em;
    white-space: nowrap; 
    overflow: hidden; 
    border-right: 2px solid #ffffff; 

  }
  .typing-container span:first-of-type {
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 10px;
        color: var(--primary)
  } 
  

.introduction {
    margin: auto;
    padding-top: 1em;
    width: 90%;
}

.image-container {

    margin-bottom: 2em;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.3);
    }
    100% {
      transform: scale(1);
    }
  }
.myphoto {
    width: 210px;
    margin: auto;
    display: flex;
    justify-content: center;
    aspect-ratio: 4/4;
    border-radius: 50%;
    margin-top: 1em;
    height: auto;
    object-fit: contain;

}
.hint-skills {
    margin: 1em 0;

}
.hint-skills p {
    background: var(--primary);
    padding: 1em;
    display: flex;
    align-items: center;
    gap: 6px;
    margin: 13px 0; 
    padding-left: 1.4em;
    border-radius: 50px;
    font-weight: 500;
}
.hint-skills span {
    content: "";
    display: block;
    width: 12px; 
    height: 12px;
    background-color: white; 
    border-radius: 50%; 
  }
  .available-for-work p span {
    content: "";
    display: block;
    width: 10px; 
    height: 10px;
    background-color: var(--primary); 
    border-radius: 50%; 
    animation: pulse 1s infinite;
  }

  
.hero-logo {
    font-size: 45px;
    font-family: 'Paytone One';
    margin-bottom: 1em;
    font-weight: 700;

  }
  .hero-logo span {
    font-size: 45px;
    font-family: 'Paytone One';
    border-bottom: 5px solid hsl(273, 65%, 51%);
    font-weight: 700;
    color: hsl(273, 65%, 51%);
  }
.download button{
   background-color: var(--primary);
   margin: 0;
   width: 120px;
   position: relative;
   font-size: 11px;
   height: 30px;
   border-radius: 120px;
   color: white;
   font-weight: 600;
}
.download button:hover {
    background-color: white;
    color: var(--primary);
    opacity: 100%;
}
.logo:hover {
    color:var(--primary);
}

.about-hero {
    width: 90%;
    margin: auto;
    margin-top: 3em;
    padding-bottom: 2em;
}

.page-heading {
    font-family: 'Ubuntu';
    font-size: 40px;
    color: rgb(241, 241, 241);
    font-weight: 800;
}

.about-me {
    width: 90%;
    margin: auto;
}
.about-text {
    padding-top: 2em; 
    font-weight: 500;
    font-size: 12px;
    line-height: 30px;
    word-spacing: 5px;
    color: rgb(170, 170, 170)
}

.skill h3 {
    font-weight: 500;
    font-family: 'Poppins';
    margin-bottom: 7px;
    font-size: 12px;
    color: rgb(207, 207, 207);
    text-align: start;
}

.progress-bar {
    background-color: rgba(85, 85, 85, 0.504);
    overflow: hidden;
    height: 4px;
    border-radius: 13px;
    width: 100%;
  }
  .projects-count {
    color: var(--primary);
    font-size: 13px;
    font-weight: 600;
  }
  .progress {
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    height: 100%;
    background-color: var(--primary);
    width: 0;
    transition: width 2s ease-in-out; 
  }
.skill {
    margin-bottom: 20px;
}
.courses {
    margin-top: 2em;
    display: grid;  
    justify-content: space-between;
    gap: 1em;
}
.courses p {
    font-size: 24px;
    margin-bottom: .5em;
    font-weight: 600;

}
.courses-earned p a {
    font-size: 14px;
    
}
.courses-earned p span {
    font-size: 14px;
    color: var(--primary);  
    margin-left: .6em; 
    font-weight: 700;
    border-bottom: 2px solid var(--primary);
}
.project {
    width: 100%;
    margin: 2em auto;
    cursor: pointer;
    transition: all .1s ease-in-out;
    border-radius: 10px;
    background: rgba(95, 95, 95, 0.096) 
}
.certificate {
    width: 100%;
    margin: 2em auto .7em;
    cursor: pointer;
    transition: all .1s ease-in-out;
    border-radius: 10px;
    background: rgba(95, 95, 95, 0.164) 
}
.certificate img {
    width: 100%;
    display: flex;
    border-radius: 10px;
    aspect-ratio: 4/3;
    border: 1px solid white;
}
.project:hover {
    background: rgba(95, 95, 95, 0.196) 
}
.project img {
    width: 75%;
    display: flex;
    justify-content: center;
    margin: auto;
    transition: all .3s ease-in-out;
    animation: rotate 2s infinite ease-in-out;
}
@keyframes rotate {
    0% { 
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(2deg);
    }
    100% {
        transform: rotate(0deg);
    }
  }
.project img:hover {
    transform: scale(1.04);
}
.project p {
    width: 80%;
    margin: auto;
    text-align: start;
}
.project-name {
    font-size: 18px;
    font-weight: 700;
}
.project-type {
    color: var(--primary);
    padding: .4em 0;
    font-weight: 600;
}
.project-tools {
    color: rgb(223, 223, 223);
    font-weight: 500;
}
.project-desc {
    color: rgb(192, 192, 192);
    padding-bottom: 3em;
    font-weight: 400;
}
footer {
   width: 100%;
   margin: auto;
   padding-bottom: 19px;
}
.footer-cont form {
    width: 90%;
    min-width: 200px;
    margin: 0 auto;
    padding-bottom: 2em;
  }
.footer-cont fieldset {
    border: none;
    padding: 2rem 0 0;
    border-bottom: 3px solid var(--primary);
  }
input, textarea {
        border: none;
        border-radius: 7px;
        background-color: rgba(78, 78, 78, 0.219);
        outline: none;
        padding: .6em;
        padding-left: 1em;
        color: white;
        caret-color: #ffffff; 
        } 
input:active {
        outline: none;
}
.submit-btn {
        background-color: var(--primary);
        border: none;
        color: white;
        font-weight: 600;
        height: 42px;
        transition: all .4s ease-in-out;
        }
h5 {
        font-size: 15px;
        color: var(--primary);
        margin-top: 3em;
}
.submit-btn:hover, .contact-list:hover {
        opacity: 90%;
        background-color: white;
        color: var(--primary);
        cursor: pointer;
}
.submit-btn:active, .contact-list:active {
        opacity: 90%;
        background-color: white;
        color: var(--primary);
        cursor: pointer;
}

.submit-btn:active {
        opacity: 70%;
}
.error-message {
        color: rgb(245, 47, 47);
        font-size: 11px;
        margin-top: 4px;
}
.send-message {
        font-size: 23px;
        font-weight: 800;
        padding-top: 1em;
        width: 55%;
}
.footer-cont fieldset:last-of-type {
    border-bottom: none;
  }
.footer-cont label {
    display: block;
    font-size: 13px;
    font-weight: 600;
    margin: 0.5rem 0;
  }
footer .social-icons {
    display: flex;
    justify-content: center;
}
  input,
  textarea,
  select {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
  }
  input::placeholder, textarea::placeholder {
    color: white;
    opacity: 60%;
    font-weight: normal;
  }
  .footer-bottom {
    text-align: center;
    padding-top: 1.5em;
    font-size: 13px;
    color: rgb(255, 255, 255);
  }
  .submit-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  .send-msg {
    color: green;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    margin-top: 1rem;
  }
@media (min-width: 942px) {
    .menu-icon {
        display: none;  
     }
     section {
         scroll-margin-top: 110px; 
       }
     .navbar {
         justify-content: unset;
     }
     a .logo {
         margin-left: 5em;
     }
     .navbar nav ul {
         display: flex;
         right: 2em;
         top: 0;
         color: white;
         opacity: 100%;
         height: 100%;
         backdrop-filter: none;
         background: none; 
         box-shadow: none;
         text-align: center;
         width: 720px;
         padding: 0;
         padding-right: 8em;
         transform: translateX(0);
         transition: transform 0.5s ease-in-out;
     }
     
     .navbar nav ul li {
         list-style: none;
         border-bottom: none;
         padding-bottom: 0;
         display: flex;
         margin: auto;
         font-weight: normal;
         align-items: center;
         justify-content: center;
     }

     .navbar nav ul li:nth-of-type(1) {
             display: none;
         }    
 .open {
     transform: translateX(0%);
     opacity: 100%;
 }
}
@media (min-width: 842px) {

h1, h3 {
    width: 100%;
}
    .hero-container {
            display: flex;
            justify-content: center;  
            margin: auto;
            gap: 2em;
            width: 64%;
        }
        .myphoto {
            width: 200px;
            margin-top: 0;
            height: fit-content;
            display: block;
        }
        .progress-container {
            display: grid;  
            justify-content: space-between;
            gap: 1em;
            margin-top: 2em;
            grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); 
        }
        .project {
           width:  100%;
           margin: 1em 0 0;
           padding-bottom: 2.4em;
        }
        .project-info {
            display: grid;  
            justify-content: space-between;
            width: 100%;
            gap: 1em;
            margin: auto;
            grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); 
        }
        .certificate-info {
            display: grid;  
            justify-content: space-between;
            width: 100%;
            gap: 1em;
            margin: auto;
            grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); 
        }
        .project-desc {
            overflow: hidden;
            width: 120px;
            height: 75px; 
            text-overflow: ellipsis;
            border: none;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            line-clamp: 4;
            -webkit-box-orient: vertical;
        }
        .contact-list {
            background-color: var(--primary);
            height: 30px;
            margin: auto;
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            width: 120px;
            border-radius: 16px;
        }   
        footer {
           width: 100%;
        }
        .footer-cont form {
            width: 64%;
            min-width: 200px;
            margin: 0 auto;
            padding-bottom: 2em;
          }
        .about-text {
            padding-top: 0;
        }
        .about-me {
            width: 100%;
        }
        .introduction {
            width: 50%;
            margin: 0 auto;
            padding-top: 0;
        }
        #hero-section {
            margin-top: 4em;
        }
        #hero-section .line {
           border: 1px solid rgb(145, 145, 145);
           height: auto;
        }
        .send-message {
            padding-top: 0;
            padding-bottom: 16px;
        }
        .hint-skills {
            margin: 1em 0;
            display: block;
        }
        h5 {
            font-size: 15px;
            color: var(--primary);
            margin-top: 0;
        }
        .about-hero {
            width: 64%
        }
        .available-for-work {
            display: flex;
            justify-content: end;
            z-index: 5;
            margin-bottom: 0;
            margin-top: 0;
            position: sticky;
        }
    }