@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Squada+One&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

* {
    font-family: 'Poppins';
    margin: 0%;
    padding: 0%;
    font-size: 12px;
    box-sizing: border-box; 
    -webkit-user-select: none;  /* Safari */
    -moz-user-select: none;     /* Firefox */
    -ms-user-select: none;      /* Internet Explorer/Edge */
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:root {
  --tertiary: hsl(19, 100%, 57%);
  --background: #176192;
  --primary: hsl(22, 100%, 57%);

}

::-webkit-scrollbar {
    width: 5px; 
  }
  
  ::-webkit-scrollbar-track {
    background: var(--background);
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 10px;
  }



input, textarea, button, a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a:focus, a:visited, a:active {
    outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #346FAA inset !important; 
  -webkit-text-fill-color: #ffffff !important;
}
a {
    text-decoration: none;
    color: rgb(251, 255, 244);
    font-weight: 500;
}
body, html {
    background-color:  var(--background);
    color: rgb(255, 255, 255);
 

}

html {
    scroll-behavior: smooth;
   
  }
  section {
    scroll-margin-top: 110px; 
  }
#hero-section {
    background-color: var(--background);
    height: 100%;
    width: 100%;
    overflow: hidden;

          
}
#hero-section:hover::before{
    transform: scale(1.2);
}



nav {
    align-items: center;
}
.menu-icon {
    background-color: transparent;
    border: none;
    margin-right: 3em;
    line-height: 0;
}
.menu-icon svg {
    color: white;
}
a .logo {
    font-family: 'Paytone one';
    font-size: 30px;
    margin: 1.2em 1.2em;
    margin-top: .9em;
}

nav ul {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    height: 50vh;
    list-style: none;
    border-radius: 4px;
    backdrop-filter: blur(80px);
    background: var(--background); 
    width: 100%;
    margin: auto;
    text-align: end;
    color: var(--primary);
    padding: 3em;
    padding-top: 0;
    transform: translateY(-140%);
    opacity: 0;
    transition: transform 0.2s ease-in-out, opacity .4s ease-in-out;
}
nav ul li  {
        cursor: pointer; 
        margin: 2em 0;

        }
nav ul li:nth-of-type(1) {
            margin-top: 0;
            
        }
nav ul li a {
            text-decoration: none;
            font-size: 15px;
            font-weight: 700;
            color: white;
            font-size: 1rem;
            transition: all .2s ease-in-out;
}
nav ul li a:hover {
                font-weight: 700;
                color: var(--primary);
                filter: drop-shadow(0 1px 10px rgba(237, 255, 233, 0.238));
            }

nav ul li a:active,
nav ul li a:focus,
section:target ~ nav ul li a[href="#Hero"], 
section:target ~ nav ul li a[href="#About"],
section:target ~ nav ul li a[href="#Projects"],
#Hero:target ~ nav ul li a[href="#Hero"], 
#About:target ~ nav ul li a[href="#About"],
#Projects:target ~ nav ul li a[href="#Projects"] {
    color: var(--primary); 


}    
       
.open {
    transform: translateX(0%);
    opacity: 100%;
}


.button {
    display: flex;
    justify-content: center;
}

button {
    margin: 3em auto;
    background-color: var(--background);
    border-radius: 11px;
    border: none;
    color: var(--text-color);
    cursor: pointer;
    transition: .2s ease-in-out;
}

button:hover {
    opacity: 80%;
}


.navbar nav ul li {
    transition: .2s ease-in-out;
}
svg {
    cursor: pointer;
    color: white;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4em;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
    backdrop-filter: blur(99px);
    background: var(--background); 
}


h1 {
    font-family: 'Paytone One';
    font-size: 45px;
    line-height: 1.3em;
}

h3 {
    font-size: 25px;
    margin-top: .4em;
  font-family: "Passion One", sans-serif;
  font-weight: 600;
  font-style: normal;
}

h5 {
    color: grey;
    font-weight: normal;
}
.qualities {
    display: flex;
    gap: 10px;
    margin-top: 2em;
}
.quality {
    border: 2px solid white;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 100px;
}
.social-icons {
    display: flex;
    align-items: center;
    gap: 2em;
    margin-top: 24px;
}
.icon {
    width: 30px;
    transition: all .2s ease-in-out;
    cursor: pointer;
}
.icon:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 2px 10px rgba(237, 255, 233, 0.7));

}
.typing-container {
    font-size: 10px;
    margin-top: 1em;
    white-space: nowrap; 
    overflow: hidden; 
    border-right: 2px solid #ffffff; 

  }
  .typing-container span:first-of-type {
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 10px;
        color: var(--primary)
  } 
  

.introduction {
    padding-left: 4em;
    padding-right: 4em;
    padding-top: 1em;
    width: 100%;
}

.image-container {

    display: flex;
    justify-content: center;
    position: sticky;  
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
.myphoto {
    animation: pulse 5s infinite ease-in-out;
    width: 80%;
    margin-top: 1em;
    height: auto;
    object-fit: contain;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 42%, rgba(0, 0, 0, 0) 100%);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 42%, rgba(0, 0, 0, 0) 100%);
}

.hero-logo {
    font-size: 45px;
    font-family: 'Paytone One';
    margin-bottom: 1em;
    font-weight: 700;

  }
  .hero-logo span {
    font-size: 45px;
    font-family: 'Paytone One';
    border-bottom: 5px solid hsl(273, 65%, 51%);
    font-weight: 700;
    color: hsl(273, 65%, 51%);
  }
.download button{
   background-color: var(--primary);
   margin: 1em 0 0;
   width: 170px;
   position: relative;
   height: 40px;
   border-radius: 120px;
   color: white;
   font-weight: 800;
}
.download button:hover {
    background-color: white;
    color: var(--primary);
    opacity: 100%;
}
.logo:hover {
    color:var(--primary);
}

.about-hero {
    text-align: center;
    margin-top: 3em;
    padding-bottom: 2em;
}

.page-heading {
    font-family: 'Ubuntu';
    font-size: 38px;
    font-weight: 800;
}

.about-text {
    padding-top: 2em;
    width: 75%;
    font-weight: 500;
    font-size: 15px;
    line-height: 35px;
    word-spacing: 4px;
    margin: auto;
}

.skill h3 {
    font-weight: 600;
    font-family: 'Poppins';
    margin-bottom: 7px;
    font-size: 16px;
    text-align: start;
}

.progress-container {
    display: grid;
    justify-content: center;
    gap: 1em;
}
.progress-bar {
    background-color: white;
    overflow: hidden;
    height: 10px;
    border-radius: 13px;
    width: 260px;
  }
  
  .progress {
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    height: 100%;
    background-color: var(--primary);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.91);
    width: 0;
    transition: width 2s ease-in-out; 

  }
  
.skill {
    margin-bottom: 20px;
}
.courses {
    margin-top: 2em;

    display: flex;
    flex-direction: column;
    align-items: center;
  
}
.courses p {
    font-size: 24px;
    margin-bottom: .5em;
    font-weight: 700;
}
.courses ul li {
    line-height: 28px;
    list-style: none;
 
}
.courses ul li a {
    font-size: 14px;
}

.courses ul li span {
    font-size: 14px;
    color: var(--primary);  
    margin-left: .6em; 
    font-weight: 700;
    border-bottom: 2px solid var(--primary);
}
.project {
    width: 90%;
    margin: 2em auto;
    cursor: pointer;
    transition: all .1s ease-in-out;
    border-radius: 30px;
    background: rgba(73, 95, 165, 0.414) 
}
.project:hover {
    transform: scale(1.01);
}
.project img {
    width: 70%;
    transition: all .3s ease-in-out;
    animation: rotate 2s infinite ease-in-out;
}

@keyframes rotate {
    0% {
  
      transform: rotate(0deg);
    }
    50% {
  
      transform: rotate(4deg);
    }

    100% {
        transform: rotate(0deg);
    }
  }

.project img:hover {
    transform: scale(1.04);
}
.project p {
    width: 80%;
    margin: auto;
    text-align: start;
}
.project-name {
    font-size: 18px;
    font-weight: 700;
}
.project-type {
    color: var(--primary);
    padding: .4em 0;
    font-weight: 600;
}
.project-tools {
    color: white;
    font-weight: 600;

}
.project-desc {
    color: white;
    padding-bottom: 3em;
    font-weight: 400;
}

footer {
   width: 100%;
   margin: auto;
   padding-bottom: 19px;
   margin-bottom: 3em;

}
.footer-cont form {
    width: 90%;
    max-width: 400px;
    min-width: 200px;
    margin: 0 auto;
    padding-bottom: 2em;
  }
.footer-cont fieldset {
    border: none;
    padding: 2rem 0 0;
    border-bottom: 3px solid var(--primary);
  }
input, textarea {
        border: none;
        border-radius: 10px;
        background-color: rgba(156, 158, 255, 0.219);
        outline: none;
        padding: .6em;
        padding-left: 1em;
        color: white;
        caret-color: #ffffff; 
        } 
input:active {
outline: none;
}

.submit-btn {
background-color: var(--primary);
border: none;
color: white;
font-weight: 600;
height: 42px;
transition: all .4s ease-in-out;
}
.submit-btn:hover, .contact-list:hover {
opacity: 90%;
background-color: white;
color: var(--primary);
cursor: pointer;
}
.submit-btn:active {
opacity: 70%;

}
.error-message {
color: rgb(245, 47, 47);
font-size: 11px;
margin-top: 4px;
}
.send-message {
    font-size: 23px;
    font-weight: 800;
    border-top: 5px solid white;
    padding-top: 1em;
    width: 55%;
}
.footer-cont fieldset:last-of-type {
    border-bottom: none;
  }
  
.footer-cont label {
    display: block;
    font-size: 13px;
    font-weight: 600;
    margin: 0.5rem 0;
  }

footer .social-icons {
    display: flex;
    justify-content: center;
}

  input,
  textarea,
  select {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
  }
  input::placeholder, textarea::placeholder {
    color: white;
    opacity: 65%;
    font-weight: 500;
  }
  .footer-bottom {
    text-align: center;
    padding-top: 1.5em;
    font-size: 13px;
    color: rgb(255, 255, 255);

  }
  .submit-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  .send-msg {
    color: green;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    margin-top: 1rem;
  }

@media (min-width: 742px) {
    .menu-icon {
       display: none;  
    }
    section {
        scroll-margin-top: 110px; 
      }
    .navbar {
        justify-content: unset;
    }
    a .logo {
        margin-left: 5em;
        margin-top: 1;
    }
    .navbar nav ul {
        display: flex;
        right: 2em;
        color: white;
        opacity: 100%;
        height: 100%;
        backdrop-filter: none;
        background: none; 
        box-shadow: none;
        text-align: center;
        width: 600px;
        padding: 0;
        padding-right: 8em;
        transform: translateX(0);
        transition: transform 0.5s ease-in-out;
    }
    .navbar nav ul li {
        list-style: none;
        display: flex;
        margin: auto;
        font-weight: normal;
        align-items: center;
        justify-content: center;
    }
    .navbar nav ul li:nth-of-type(1) {
            display: none;
        }

       
.open {
    transform: translateX(0%);
    opacity: 100%;
}
    .hero-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
            gap: 2em;
        }
        .introduction {
            width: 30%;
        }
        .myphoto {
            width: 280px;
            margin-top: 0;
            height: fit-content;
            display: block;
        }
        .progress-container {
            display: flex;
            justify-content: center;
            gap: 5em;
        }
        .project {
           width:  100%;
           margin: 3em 0 0;
           padding-bottom: 2.4em;

        }
        .project-info {
            display: grid;  
            justify-content: space-between;
            width: 80%;
            gap: 1em;
            margin: auto;
            grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); 
        }
        .project-desc {
            overflow: hidden;
            width: 120px;
            height: 75px; 
            text-overflow: ellipsis;
            border: none;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            line-clamp: 4;
            -webkit-box-orient: vertical;
        }
        .contact-list {
            background-color: var(--primary);
            height: 30px;
            margin: auto;
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            width: 120px;
            border-radius: 16px;
        }   
        footer {
           width: 80%;
        }
        .footer-cont form {
            width: 90%;
            max-width: 800px;
            min-width: 200px;
            margin: 0 auto;
            padding-bottom: 2em;
          }
          #hero-section {
            height: 490px;   
        }

    }