@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Squada+One&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    font-family: 'Poppins';
    margin: 0%;
    padding: 0%;
    font-size: 12px;
    box-sizing: border-box; 
    -webkit-user-select: none;  /* Safari */
    -moz-user-select: none;     /* Firefox */
    -ms-user-select: none;      /* Internet Explorer/Edge */
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:root {
  --tertiary: hsl(120, 100%, 97%);
  --background: #0c0c0c;

}



input, textarea, button, a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a:focus, a:visited, a:active {
    outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px rgb(10, 10, 10) inset !important; 
  -webkit-text-fill-color: #ffffff !important;
}
a {
    text-decoration: none;
    color: rgb(251, 255, 244);
    font-weight: 500;
}
body, html {
    background-color:  var(--background);
    color: rgb(247, 255, 244);
 

}

html {
    scroll-behavior: smooth;
   
  }
  section {
    scroll-margin-top: 110px; /* Adjust this value based on your navbar height */
  }
#hero-section {
    position: relative;
    background-image: url(./assets/images/pexels-cottonbro-6804613.jpg);
    background-size: cover;             
    background-position: center center;  
    background-repeat: no-repeat; 
    height: 90vh;
    width: 100%;
    overflow: hidden;

          
}
#hero-section:hover::before{
    transform: scale(1.2);
}



nav {
    align-items: center;
}
.menu-icon {
    background-color: transparent;
    border: none;
    margin-right: 3em;
    line-height: 0;
}
a .logo {
    font-family: 'Paytone one';
    font-size: 20px;
    margin: 1.2em 1.5em;
    margin-top: .9em;
}

nav ul {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    box-shadow: 1px 12px 29px rgba(19, 18, 27, 0.507);
    height: 50vh;
    list-style: none;
    border-radius: 4px;
    backdrop-filter: blur(80px);
    background: rgba(12, 12, 12, 0.999); 
    width: 100%;
    margin: auto;
    text-align: end;
    color: var(--tertiary);
    padding: 3em;
    padding-top: 0;
    transform: translateY(-140%);
    opacity: 0;
    transition: transform 0.2s ease-in-out, opacity .4s ease-in-out;
}
nav ul li  {
        cursor: pointer; 
        margin: 2em 0;
        font-size: 13px;
        }
nav ul li:nth-of-type(1) {
            margin-top: 0;
            
        }
nav ul li a {
            text-decoration: none;
            color: white;
            font-size: 1rem;
            transition: all .2s ease-in-out;
}
nav ul li a:hover {
                font-weight: 700;
                color: #4fbe62;
                filter: drop-shadow(0 2px 10px rgba(237, 255, 233, 0.438));
            }

nav ul li a:active,
nav ul li a:focus,
section:target ~ nav ul li a[href="#Hero"], 
section:target ~ nav ul li a[href="#About"],
section:target ~ nav ul li a[href="#Projects"],
#Hero:target ~ nav ul li a[href="#Hero"], 
#About:target ~ nav ul li a[href="#About"],
#Projects:target ~ nav ul li a[href="#Projects"] {
    color: #4fbe62; 


}          
.open {
    transform: translateX(0%);
    opacity: 100%;
}


.button {
    display: flex;
    justify-content: center;
}

button {
    margin: 3em auto;
    background-color: var(--tertiary-color);
    border-radius: 11px;
    border: none;
    color: var(--text-color);
    cursor: pointer;
    transition: .2s ease-in-out;
}

button:hover {
    opacity: 80%;
}


.navbar nav ul li {
    transition: .2s ease-in-out;
}
svg {
    cursor: pointer;
    color: white;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4em;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
    backdrop-filter: blur(99px);
    background: rgba(12, 12, 12, 0.999); 
}


h1 {
    font-family: 'Paytone One';
    font-size: 45px;
    line-height: 1.3em;
}

h3 {
    font-family: 'Ubuntu';
    font-size: 20px;
    margin-top: .4em;
}

h5 {
    color: grey;
    font-weight: normal;
}
.qualities {
    display: flex;
    gap: 10px;
    margin-top: 2em;
}
.quality {
    border: 2px solid white;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 100px;
}
.social-icons {
    display: flex;
    align-items: center;
    gap: 2em;
    margin-top: 24px;
}
.icon {
    width: 30px;
    transition: all .2s ease-in-out;
    cursor: pointer;
}
.icon:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 2px 10px rgba(237, 255, 233, 0.7));

}
.typing-container {
    font-size: 10px;
    margin-top: 2em;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflow text */
    border-right: 2px solid #2b2b2b; /* Cursor effect */

  }
  .typing-container span:first-of-type {
        font-size: 15px;
        letter-spacing: 10px;
        color: #97ffa5;
  } 
  

.introduction {
    padding-left: 4em;
    padding-right: 4em;
    padding-top: 5em;
    width: 100%;
}

.image-container {

    display: flex;
    justify-content: center;
    position: sticky;  
  }

.myphoto {
    width: 80%;
    display: none;
    height: auto;
    object-fit: contain;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 42%, rgba(0, 0, 0, 0) 100%);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 42%, rgba(0, 0, 0, 0) 100%);
}


.download button{
   background-color: white;
   margin: 1em 0 0;
   width: 170px;
   position: relative;
   height: 32px;
   border-radius: 120px;
   color: black;
   font-weight: 600;
}
.download button:hover {
    background-color: #4fbe62;
    color: white;
    opacity: 100%;
}
.logo:hover {
    color:#4fbe62;
}

.about-hero {
    text-align: center;
    margin-top: 3em;
    padding-bottom: 2em;
}

.page-heading {
    font-family: 'Ubuntu';
    font-size: 38px;
}

.about-text {
    padding-top: 2em;
    width: 70%;
    font-size: 15px;
    line-height: 26px;
    word-spacing: 4px;
    margin: auto;
}

.skill h3 {
    font-weight: 400;
    font-family: 'Poppins';
    margin-bottom: 7px;
    font-size: 15px;
    text-align: start;
}

.progress-container {
    display: grid;
    justify-content: center;
    gap: 1em;
}
.progress-bar {
    background-color: white;
    overflow: hidden;
    height: 4px;
    border-radius: 13px;
    width: 250px;
  }
  
  .progress {
    overflow: hidden;
    position: relative;
    height: 100%;
    background-color: #4fbe62;

    box-shadow: 0 0 15px rgba(4, 0, 0, 0.1);
    width: 0;
    transition: width 2s ease-in-out; 

  }
  
.skill {
    margin-bottom: 20px;
}
.courses {
    margin-top: 2em;

    display: flex;
    flex-direction: column;
    align-items: center;
  
}
.courses p {
    font-size: 24px;
    margin-bottom: .5em;
}
.courses ul li {
    line-height: 28px;
    list-style: none;
 
}
.courses ul li a {
    font-size: 14px;
}

.courses ul li span {
    font-size: 14px;
    color: #4fbe62;  
    margin-left: .6em; 
    border-bottom: 2px solid #4fbe62;
}
.project {
    width: 90%;
    margin: 2em auto;
    cursor: pointer;
}
.project img {
    width: 80%;
    border-radius: 3px;
    border-bottom: 2px solid #4fbe62;
    transition: all .3s ease-in-out;
}
.project img:hover {
    transform: scale(1.02);
    filter: drop-shadow(0 2px 7px rgba(101, 184, 82, 0.432));
}
.project p {
    width: 80%;
    margin: auto;
    text-align: start;
}
.project-name {
    font-size: 18px;
    font-weight: 500;
}
.project-type {
    color: grey;
    padding: .4em 0;
}
.project-desc {
    color: var(--tertiary);
    padding-bottom: 2em;
    font-weight: 400;
    border-bottom: 1px solid #4fbe62;
}

footer {
   background-image: url(./assets/images/contact.jpg);
   background-size: cover;             
   background-position: center center;  
   background-repeat: no-repeat; 

   padding: 3em;
   padding-bottom: 9px;

}
.footer-cont form {
    width: 72vw;
    max-width: 400px;
    min-width: 200px;
    margin: 0 auto;
    padding-bottom: 2em;
  }
.footer-cont fieldset {
    border: none;
    padding: 2rem 0 0;
    border-bottom: 3px solid #4fbe62;
  }
input, textarea {

border-top: none;
border-left: none;
border-right: none;
border-bottom-color: #4fbe62;
border-bottom-width: 1px;
background-color: transparent;
outline: none;
color: white;
caret-color: #ffffff; 
}
input:active {
outline: none;
}

.submit-btn {
background-color: white;
border: none;
color: black;
font-weight: 600;
height: 34px;
}
.submit-btn:hover {
opacity: 90%;
cursor: pointer;
}
.submit-btn:active {
opacity: 70%;

}
.error-message {
color: rgb(226, 66, 66);
font-size: 11px;
margin-top: 4px;
}
.send-message {
    font-size: 17px;
    font-weight: 700;
}
.footer-cont fieldset:last-of-type {
    border-bottom: none;
  }
  
.footer-cont label {
    display: block;
    font-size: 13px;
    font-weight: 500;
    margin: 0.5rem 0;
  }

footer .social-icons {
    display: flex;
    justify-content: center;
}

  input,
  textarea,
  select {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
  }
  .footer-bottom {
    text-align: center;
    padding-top: 5em;
    font-size: 13px;
    color: grey;

  }
  .submit-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  .send-msg {
    color: green;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    margin-top: 1rem;
  }
@media (min-width: 742px) {
    .menu-icon {
       display: none;  
    }
    section {
        scroll-margin-top: 85px; /* Adjust this value based on your navbar height */
      }
    .navbar {
        justify-content: unset;
    }
    a .logo {
        margin-left: 7em;
        margin-top: 1;
    }
    .navbar nav ul {
        display: flex;
        top: 2em;
        right: 2em;
        color: white;
        opacity: 100%;
        height: 33px;
        backdrop-filter: none;
        background: none; 
        box-shadow: none;
        text-align: center;
        width: 600px;
        padding: 0;
        padding-bottom: 11px;
        padding-right: 8em;
        transform: translateX(0);
        transition: transform 0.5s ease-in-out;
    }
    .navbar nav ul li {
        list-style: none;
        display: flex;
        margin: auto;
        font-weight: normal;
        align-items: center;
        justify-content: center;
    }
    .navbar nav ul li:nth-of-type(1) {
            display: none;
        }

       
.open {
    transform: translateX(0%);
    opacity: 100%;
}
    .hero-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
            gap: 2em;
        }
        .introduction {
            width: 30%;
        }
        .myphoto {
            width: 310px;
            margin-top: 0;
            height: fit-content;
            display: block;
        }
        .progress-container {
            display: flex;
            justify-content: center;
            gap: 5em;
        }
        .project {
           width:  100%;
           margin:3em 0;

        }
        .project-info {
            display: grid;  
            justify-content: space-between;
            width: 80%;
            margin: auto;
            grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); 
        }
        .project-desc {
            overflow: hidden;
            width: 120px;
            height: 75px; /* adjust height as needed */
            text-overflow: ellipsis;
            border: none;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            line-clamp: 4;
            -webkit-box-orient: vertical;
        }

    }